body {
    background-color: #FAF3F0;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    min-height: 25vh;
    color: white;
    background-color: #6C3B23;
    background-image: url(images/letters_gemeentehuis.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    position: relative;
}

h1 {
    text-shadow: 2px 2px 5px #FAF3F0;
    font-size: 3rem;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.content {
    display: flex;
}

footer {
    background-color: #6C3B23;
    width: 100%;
    min-height: 1vh;
    color: white;
    clear: both;
    font-size: small;
    margin-top: 1vh;
}

#footerpadding {    /*Los, om de footer breedte gelijk te houden met de breedte van de andere elementen */
    padding: 2% 5%;
}

ol {
   list-style-type: upper-roman; 
}

#een {
    background-color: #3E2014;
    color: white;
    padding: 5%;
    margin-top: 1vh;
}

#twee {
    background-color: #EFD9CE;
    padding: 5%;
    margin-top: 1vh;
}

#imgoktober44 {
    width: 40%;
    filter: saturate(2);
    float: right;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

#imgvanenburg {
    width: 50%;
    filter: saturate(2);
    float: right;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

a {
    color: #157A15;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: #3E2014;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    header {
        min-height: 40vh;
    }
}

@media only screen and (min-width: 992px) {
    header {
        min-height: 40vh;
    }

    #imgoktober44 {
        width: 30%;
        border: none;
        border-radius: 10px;
        padding: 0px;
        margin-left: 5px; 
        box-shadow: 5px 5px 10px #3E2014;
    }

    #imgvanenburg {
        width: 37%;
        border: none;
        border-radius: 10px;
        padding: 0px;
        margin-left: 5px;
        box-shadow: 5px 5px 10px #3E2014;
    }
    
}

@media only screen and (min-width: 1200px) {
    header {
        min-height: 50vh;
        border-radius: 20px;
    }

    footer {
        border-radius: 20px;
        text-align: center;
    }

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#een {
    border-radius: 20px;
    margin-top: 10px;
}

#twee {
    border-radius: 20px;
    margin-top: 10px;
}

#imgoktober44 {
    width: 20%;
}

#imgvanenburg {
    width: 25%;
}

}

