body {
    background-color: #FAF3F0;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    min-height: 10em;
    color: white;
    background-color: #6C3B23;
    background-image: url(images/letters_gemeentehuis.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    position: relative;
}

h1 {
    text-shadow: 2px 2px 5px #FAF3F0;
}

.bottomright {
    position: absolute;
    top: 55%;
    right: 4%;
}

.content {
    display: flex;
}

footer {
    background-color: #6C3B23;
    width: 100%;
    min-height: 1em;
    color: white;
    clear: both;
    font-size: small;
    margin-top: 1em;
}

#footerpadding {    /*Los, om de footer breedte gelijk te houden met de breedte van de andere elementen */
    padding: 2% 5%;
}

ol {
   list-style-type: upper-roman; 
}

#een {
    background-color: #3E2014;
    color: white;
    padding: 5%;
    margin-top: 1em;
}

#twee {
    background-color: #EFD9CE;
    padding: 5%;
    margin-top: 1em;
}

#imgoktober44 {
    width: 12em; /*tafel van 3 voor beide afbeeldingen*/
    filter: saturate(2);
    float: right;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

#par_vanenburg {
    clear: both;
}

#imgvanenburg {
    width: 15em;
    filter: saturate(2);
    float: right;
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

a {
    color: #157A15;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: #3E2014;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    header {
        min-height: 15em;
    }

    h1 {
        font-size: 3em;
    }

    #imgoktober44 {
        width: 15em;
    }

    #imgvanenburg {
        width: 18em;

    }
}

@media only screen and (min-width: 992px) {
    header {
        min-height: 20em;
    }

    h1 {
        font-size: 4em;
    }

    #imgoktober44 {
        width: 18em;
        border: none;
        border-radius: 10px;
        padding: 0px;
        margin-left: 5px;
        margin-bottom: 2px; 
        box-shadow: 5px 5px 10px #3E2014;
    }

    #imgvanenburg {
        width: 21em;
        border: none;
        border-radius: 10px;
        padding: 0px;
        margin-left: 5px;
        margin-bottom: 2px;
        box-shadow: 5px 5px 10px #3E2014;
    }
    
}

@media only screen and (min-width: 1200px) {
    header {
        min-height: 25em;
        border-radius: 20px;
    }

    h1 {
        font-size: 5em;
    }

    footer {
        border-radius: 20px;
        text-align: center;
    }

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#een {
    border-radius: 20px;
    margin-top: 10px;
}

#twee {
    border-radius: 20px;
    margin-top: 10px;
}

#imgoktober44 {
    width: 20em;
}

#imgvanenburg {
    width: 23em;
}

}

